<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attribute.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @attribute.value %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @attribute.icon %>
</p>

<%= link_to 'Edit', edit_attribute_path(@attribute) %> |
<%= link_to 'Back', attributes_path %>
